body {
  background: rgba(0, 0, 20, 0.975);
  color: white;
  font-family: "Roboto", serif;
}
a {
  color: #6261a5;
  text-decoration: none;
}
.weather-app {
  background: rgba(255, 255, 255, 0.2);
  border-radius: 16px;
  box-shadow: 0 30px 50px rgba(65, 50, 100, 0.08);
  max-width: 600px;
  margin: 45px auto;
  padding: 30px;
}

header {
  border-bottom: 1px solid rgba(255, 255, 255, 0.4);
  padding: 0 0 30px 0;
}

.search-form-input {
  background: rgba(0, 0, 20, 0.975);
  border: none;
  border-radius: 6px;
  color: white;
  font-size: 16px;
  padding: 15px 20px;
  width: 80%;
}

.search-form-button {
  background: rgba(0, 0, 20, 0.975);
  border: none;
  border-radius: 6px;
  color: white;
  font-size: 16px;
  margin-left: 5px;
  padding: 15px 30px;
}
.search-form-button:hover {
  background: rgba(255, 255, 255, 0.226);
  transition: all 200ms ease-in-out;
}
main {
  padding: 30px 0;
}
h1 {
  text-shadow: 2px 2px 2px rgba(255, 255, 255, 0.2);
}
.weather-app-data {
  display: flex;
  justify-content: space-between;
}

.weather-app-city {
  font-size: 38px;
  line-height: 48px;
  margin: 0;
}

.weather-app-details {
  color: rgba(255, 255, 255, 0.5);
  font-size: 16px;
  font-weight: 500;
  line-height: 24px;
}

.weather-app-details strong {
  color: #6261a5;
}

.temperature-container {
  display: flex;
}

.weather-app-icon {
  height: 88px;
  width: 88px;
}

.weather-app-temperature {
  font-size: 88px;
  font-weight: bold;
  line-height: 88px;
}

.weatehr-app-unit {
  font-size: 28px;
  margin-top: 6px;
}

footer {
  border-top: 1px solid rgba(255, 255, 255, 0.4);
  color: rgba(255, 255, 255, 0.5);
  font-size: 14px;
  padding: 30px 0 0 0;
  text-align: center;
}
